::ng-deep h1 {
  margin: 0 ! important; ;
}

.title {
  position: relative;
  display: flex ;
  align-items: center;
  justify-content: center;
}

.btn-white {
  float: right;
  margin-right: 1rem;
}


